<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :propertyno %><br />
    <%= f.text_field :propertyno %>
  </div>
  <div class="field">
    <%= f.label :streetname %><br />
    <%= f.text_field :streetname %>
  </div>
  <div class="field">
    <%= f.label :addressline3 %><br />
    <%= f.text_field :addressline3 %>
  </div>
  <div class="field">
    <%= f.label :town %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :moniker %><br />
    <%= f.text_field :moniker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
